body, html {
	margin: 0; padding: 0;
	height: 100%;
	font-family: 'Rubik', 'Arial';
	font-size: 16px;
	line-height: 20px;
	font-weight: lighter;

}

.fleft {float: left;}
.fright {float: right;}
.clean {clear: both;}
.column {width: 33%; float: left;}

img {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
	-webkit-transition: color ease-in 0.2s;
	-moz-transition: color ease-in 0.2s;
	-o-transition: color ease-in 0.2s;
	transition: color ease-in 0.2s;
}

a:hover {
	color: #d7b369;
}

.gray-bg {
	width: 530px;
	height: 100%;
	left: 330px;
	background-color: #f5f5f5;
	position: fixed;
	z-index: -1;
}

#menu-frame {
	width: 330px;
	height: 100%;
	background-color: white;
	position: fixed;
}

#logo {
	width: 237px;
	height: 70px;
	margin: 60px auto 100px auto;
	background-image: url('/site-files/logo-s.png');
	background-position-x: -13746px;
	background-repeat: no-repeat;
	animation: 2s logo steps(59);
}

@keyframes logo {
	0% {background-position-x: 0px;}
	100% {background-position-x: -13983px;}
}

#menu a {
	display: block;
	font-size: 20px;
	margin: 0 0 40px 60px;
}

#active-menu {
	width: 40px;
	height: 5px;
	margin: 0 0 0 0;
	background-color: #d7b369; /*gold*/
	position: fixed;
	left: 310px;
	z-index: 999;
}

#social {
	margin: 0 0 0 60px;
	position: absolute;
	bottom: 100px;
}

#social a {
	display: block;
	font-size: 16px;
	line-height: 24px;
	text-decoration: underline;
	margin: 0 0 0 0;
}

#social span {
	display: block;
	margin: 0 0 20px 0;
}

.content {
	min-width: 500px;
	max-width: 2000px;
	padding: 0 40px 0 330px;
}

.fancybox-thumb img {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

.gallery-instagram {
	width: 250px;
	height: 250px;
	float: left;
	margin: 0; padding: 0;
	background-image: url(/site-files/instagram-logo.svg);
	background-size: 105px 105px;
	background-position: center 45px;
	background-repeat: no-repeat;
	text-align: center;
	background-color: #f4f4f4;
}
.gallery-instagram span {
	display: block;
	margin: 185px 0 0 0;
}

/*Слайдер главная*/
#slider-frame {
	padding: 60px 0 0 390px;
}

.item {
	height: 660px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#slide-video-big {
	width: 1173px;
	height: 660px;
}

#slide-video-small {
	display: none;
	width: 711px;
	height: 400px;
}

#slide-one {
	width: 990px;
	height: 660px;
	background-image: url(/images/slider-1.jpg);
}

#slide-two {
	width: 439px;
	height: 660px;
	background-image: url(/images/slider-2.jpg);
}

#slide-three {
	width: 990px;
	height: 660px;
	background-image: url(/images/slider-3.jpg);
}

#slide-four {
}

#more-photos {
	display: block;
	width: 95px;
	text-align: center;
	border: 5px solid #d7b369;
	font-family: 'Playfair Display', Serif;
	font-size: 20px;
	line-height: 24px;
	padding: 21px 0 26px 0;
	margin: 0 80px 0 60px;
	cursor: pointer;
	position: relative;
	top: 280px;
}

.owl-controls {
	padding: 40px 0 0 0;
	float: left;
}

.owl-controls span {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0;
	background-image: url(/site-files/slider-buttons.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-transition: background-color ease-in 0.2s;
	-moz-transition: background-color ease-in 0.2s;
	-o-transition: background-color ease-in 0.2s;
	transition: background-color ease-in 0.2s;
}

.owl-controls span:hover {
	background-color: #d7b369;
}

.customPrevBtn {
	background-position: 10px center;
	margin: 0 10px 0 -10px;
}

.customNextBtn {
	background-position: -60px center;
}

.main-text {
	font-family: "Playfair Display", Serif;
	font-size: 20px;
	line-height: 24px;
}

.main-text span {
	display: inline-block;
	width: 22px;
}

#main-text-one {
	margin: 40px 0 0 120px;
}

#main-text-two {
	margin: 40px 0 0 220px;
	display: none;
}

#short-contacts {
	font-size: 14px;
	color: #9c9e9f;
	position: fixed;
	right: 40px;
	bottom: 40px;
}

#short-contacts a {
	display: block;
	color: #9c9e9f;
}

#language-switch {
	display: block;
	width: 25px;
	text-align: center;
	height: 20px;
	font-size: 14px;
	color: #d7b369;
	border-bottom: 2px solid #d7b369;
	position: fixed;
	top: 20px;
	right: 30px;
}

/*Отзывы*/
#reviews-frame {
	min-width: 500px;
	max-width: 2000px;
	padding: 40px 0 0 350px;
}

.person {
	float: left;
	width: 140px;
	margin: 0 20px 20px 0;
	font-size: 12px;
	color: #9c9e9f;
	text-align: center;
	clear: both;
}

.person img {
	width: 100px;
	margin: 0 auto 0 auto;
	border-radius: 100px;
	margin: 0 0 20px 0;
}

.person a {
	display: block;
	font-family: 'Playfair Display', Serif;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 5px 0;
}

.review-full {
	width: 440px;
	border: 5px solid #d7b369;
	padding: 20px;
	font-size: 14px;
	float: left;
	margin: 0 0 60px 0;
}

.review-short {
	width: 340px;
	border: 5px solid #d7b369;
	padding: 20px;
	font-size: 14px;
	float: left;
	margin: 0 40px 60px 0;
}

#more-reviews {
	display: block;
	width: 95px;
	text-align: center;
	border: 5px solid #d7b369;
	font-family: 'Playfair Display', Serif;
	font-size: 20px;
	line-height: 24px;
	padding: 21px 0 26px 0;
	margin: -50px 80px 0 60px;
	cursor: pointer;
	clear: both;
	position: fixed;
	top: 50%;
	right: 50px;
}

.fancy-line {
	width: 40px;
	height: 5px;
	background-color: #d7b369;
	position: relative;
	margin: 0 0 -5px 0;
	position: relative;
	left: 343px;
}

/*Контакты*/
#contacts-frame {
	width: 450px;
	padding: 40px 40px 0 370px;
	float: left;
}

#contacts-frame a {
	font-size: 22px;
	line-height: 32px;
	border-bottom: 2px solid lightgray;
}

#contacts-social {
	padding: 80px 0 0 0;
}

#contacts-frame .column {
	width: 150px;
}

#contacts-frame .column a {
	text-decoration: none;
	border: none;
}

#contacts-frame .column span {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 20px 0 0;
	vertical-align: middle;
	background-image: url(/site-files/social-icons.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

#contacts-frame #inst span {
	background-position: center center;
}

#contacts-frame #yt span {
	background-position: right center;
}

#contacts-frame #yt {
	text-align: right;
}


#contacts-frame .column a {
	font-size: 16px;
}

#contacts-frame hr {
	width: 150px;
	border-color: black;
	margin: 60px auto 60px auto;
}

#form span {
	display: block;
	margin: 80px auto 20px auto;
}

#form form {
	width: 100%;
	margin: 0 auto 0 auto;
}

#form input {
	display: block;
	width: 400px;
	height: 10px;
	margin: 0 auto 20px auto;
	padding: 20px;
	border: 5px solid #d7b369;
	text-align: center;
	outline: none;
	background: none;
	font-family: 'Rubik', Sans;
	font-size: 16px;
}

#form textarea {
	display: block;
	outline: none;
	width: 400px;
	max-height: 200px;
	margin: 0 auto 40px auto;
	padding: 20px;
	border: 5px solid #d7b369;
	text-align: center;
	background: none;
	font-family: 'Rubik', Sans;
	font-size: 14px;
	color: black;
	text-align: left;
}

#form button {
	float: right;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	background: none;
	border: none;
	font-family: 'Rubik', Sans;
	font-size: 16px;
	border-bottom: 2px solid #d7b369;
	cursor: pointer;
	-webkit-transition: color ease-in 0.2s;
	-moz-transition: color ease-in 0.2s;
	-o-transition: color ease-in 0.2s;
	transition: color ease-in 0.2s;
	outline: none;
}

#form button:hover {
	color: #d7b369;
}

input::-webkit-input-placeholder {color:black; font-size: 14px;}
input::-moz-placeholder          {color:black; font-size: 14px;}
input:-moz-placeholder           {color:black; font-size: 14px;}
input:-ms-input-placeholder      {color:black; font-size: 14px;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

#contacts-photo {
	width: 100%;
	min-width: 500px;
	height: 100%;
	position: fixed;
	background-color: lightgray;
	background-image: url(/site-files/contacts-photo.jpg);
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
	z-index: -2;
	margin: 0 0 0 0;
}

/*Вертикальный фото-блок*/
#simple-photos-frame {
	min-width: 300px;
	display: none;
	padding: 0 80px 0 330px;
}

#simple-photos-frame img {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

#simple-photos-frame div {
	background-color: #f5f5f5;
	padding: 40px 20px 40px 20px;
}

#simple-photos-frame a {
	display: block;
	width: 95px;
	text-align: center;
	border: 5px solid #d7b369;
	font-family: 'Playfair Display', Serif;
	font-size: 20px;
	line-height: 24px;
	padding: 21px 0 26px 0;
	margin: 40px 0 40px 0;
	cursor: pointer;
	float: right;
}

#simple-photos-frame ul {
	margin: 0;
	padding: 0 0 0 20px;
}

#simple-photos-frame li {
	margin: 0 0 10px 0;
	padding: 0;
}

/*Медиа*/
@media all and (max-width: 1350px) {
	#more-reviews {
		display: none;
	}

	#short-contacts {
		display: none;
	}
}

@media all and (max-width: 1100px) {
	#reviews-frame .fancybox-thumb {
		display: none;
	}

	.fancy-line {
		display: none;
	}

	.review-short {
		width: 440px;
		margin: 0 0 60px 0;
	}
}

@media all and (max-height: 600px) {
	#social {
		display: none;
	}

	#short-contacts {
		display: none;
	}
}

/*Размер слайдера*/
@media all and (max-height: 1000px) {
	.item {height: 400px;}
	#slide-one {width: 600px; height: 400px;}
	#slide-two {width: 266px; height: 400px;}
	#slide-three {width: 600px; height: 400px;}
	#slide-video-big {display: none;}
	#slide-video-small {display: block;}
	#more-photos {top: 140px;}
}

/*Контакты на ноуте*/
@media all and (max-height: 700px) {
	#contacts-frame {width: 250px;}
	#form input {width: 200px;}
	#form textarea {width: 200px;}
	#contacts-frame a {font-size: 18px;}
	#contacts-frame .column {margin: 10px 0 10px 0;}
	#contacts-frame #yt {text-align: left;}
	#gray-bg-contacts {width: 330px;}
}

@media all and (max-width: 1500px) {
	#contacts-frame {width: 250px;}
	#form input {width: 200px;}
	#form textarea {width: 200px;}
	#contacts-frame a {font-size: 18px;}
	#contacts-frame .column {margin: 10px 0 10px 0;}
	#contacts-frame #yt {text-align: left;}
	#gray-bg-contacts {width: 330px;}
}

@media all and (max-width: 1000px) {
	#contacts-photo {display: none;}
	#slider-frame {display: none;}
	#simple-photos-frame {display: block;}
	#gray-bg-index {display: none;}
}